{% extends 'base.html' %}

{% block content %}
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
{% endblock content %}